.panel {
    font-size: 10%;
    text-overflow: ellipsis;
    white-space: normal;
}

.unity-button:active {
    border-color: transparent;
    background-image: none;
    background-size: contain;
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(0, 255, 255);
}
